.main-nav {
    background-color: lightblue;
    height: 100px;
}

.main-nav .flex {
    justify-content: space-between;
}

.logo {
    width: 50px;
}

.main-nav .social a {
    color: hsl(222, 83%, 54%);
    margin-left: .5rem;
}

.main-nav .social a:hover {
    color: hsl(222, 73%, 40%);
}